body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: papyrus;
    font-size: 18px;
    text-shadow: 2px 2px #e8d6cb;
}

.card:hover{
    background-color: bisque;
    border-color: burlywood;
    color: #cd9777;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    height: 160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fce2d1;
    color: #d0ada7;
    border: 6px solid #d0ada7;
    border-radius: 25px;
}

img {
    border-radius: 20px;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

